<<<<<<< HEAD


body{

    margin: 10px;
    padding:20px;
    border-top: 30px;
    border-color:black;
    border-radius:5px;

    background-color:blue;
    text-shadow:1px;
    background-image:url("https://www.denofgeek.com/wp-content/uploads/2021/02/robert-pattinson-the-batman-dc-warner.jpg?resize=768%2C432");
    background-size: cover;

}

#new{
    border:1px solid;
    border-color: black;
    text-decoration:none ;
}

.and{
    position:relative;
    background-position: center;

    text-align:center ;
}

#fo{
    text-decoration:none ;
    font-size: 14px;
    text-shadow: 1px 1px;

}

.b{
    height: 90px;
    width:90px;
    background-color: aqua;
    border-color: black;
    
}


=======
*{
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.new{
    height:100vh;
    width: 100%;
    background-image: url("https://images7.alphacoders.com/120/1207354.jpg");
    background-size:cover;
    background-position: center;

}

nav{
    display:flex;
    justify-content:space-between;
    padding-top:45px;
    padding-left: 8%;



}
.a{
    color:aliceblue;
    font-size:35px;
    letter-spacing: 1px;
    cursor:pointer;

}
span{
    color:crimson;
}
nav ul li{
    list-style-type:none ;
    display: inline-block;
    padding: 10px 25px;
    color:white;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;



}
a{
    color:white;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:crimson;
    transition:.4s;

}
.hero{
   
    color:aliceblue;
    border: 15px solid transparent;
    font-weight: bold;
    background-color:crimson;
    padding:10px 25px;
    border-radius:100px;
    font-size:25px;
    


}
.hero:hover{
    color:cadetblue;
    transform: scale(1.1);
}

.b{
    position:absolute;
    top:50%;
    left:8%;

}
h1{
    color:white;
    margin: 20px 0px 20px;
    font-size: 75px;

}
h2{
    color:black;
    margin: 20px 0px 20px;
    font-size: 25px;


}
.d,.e{
    color:white;
    font-size: 20px;
    padding: 8px;
}


.g,.h{
   
    font-size: 25px;
    display:inline-block;
    padding:20px 45px 10px 0px;
    font-weight: bold;
    

}

.g{
    background-color:crimson;
    border: 2px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    text-size-adjust: center;
    
}
.h{
    padding:0px 15px;
}
.i{
    padding:70px 0px 20px 40px;
}
.g,.h:hover{
    transform:scale(1.1);
}
.i:hover {
    border: 2px solid transparent;
        
}





>>>>>>> 4fefcde (Initial)
